.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  max-width: 100%;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
