/* common */

/* mobile/tablet */
@media (hover: none) {
  .home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow: overlay;
    max-height: 88vh;
    padding-bottom: 2vh;
  }

  .service-types,
  .best-providers {
    padding-left: 1rem;
  }

  .service-types h2 {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
  }

  .service-types ol,
  .best-providers ol {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.75rem;
    flex-wrap: nowrap;
    max-width: 100vw;
    padding: 0 1rem 2vh 1rem;
    overflow-x: overlay;
    overflow-y: hidden;
  }

  .service-types ol li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .service-types ol li a svg {
    font-size: 2.5rem;
  }

  .service-types ol li a h3 {
    font-weight: normal;
    margin: 0;
  }

  .best-providers h2 {
    font-size: 1.5rem;
  }

  .best-providers ol li {
    border-radius: 4vw;
    box-shadow: 0 0 5px 2px #ddd;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.75rem;
    max-width: 70vw;
  }

  .best-providers ol li img {
    max-width: 100%;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
  }

  .best-providers ol li main {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }

  .best-providers ol li main h3 {
    margin: 0;
  }

  .best-providers ol li footer {
    margin: 0;
    font-size: 1rem;
    align-items: initial;
    border: none;
    gap: 1rem;
    padding: 0 1rem;
  }

  .best-providers ol li footer address {
    margin: 0;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.searchInputHome .searchbar {
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
}

.listActiveOption {
  margin-top: 10vh;
}
