.appointment-modal {
  background-color: #ccc;
  height: 100%;
}

.appointment-modal .react-tabs {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 100%;
}

.appointment-modal .react-tabs > header {
  padding: 3vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  position: relative;
  background-color: #fff;
}

.appointment-modal .react-tabs > header h2 {
  margin: 0;
}

.appointment-modal .react-tabs > header .react-tabs__tab-list {
  display: flex;
  position: relative;
  border: none;
  margin: 0;
}

.appointment-modal .react-tabs > header .react-tabs__tab-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  border: 1px solid #c4c4c4;
  width: 50%;
}

.appointment-modal .react-tabs > header .react-tabs__tab-list li {
  padding: 1.5vh 0 0;
  position: relative;
  color: #212121;
  border: none;
  background: transparent;
  bottom: 0;
}

.appointment-modal .react-tabs > header .react-tabs__tab-list li:focus {
  box-shadow: none;
  outline: 1px solid #000;
}

.appointment-modal .react-tabs > header .react-tabs__tab-list li:not(.react-tabs__tab--selected) {
  color: transparent;
}

.appointment-modal .react-tabs > header .react-tabs__tab-list li::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}

.appointment-modal .react-tabs > header .react-tabs__tab-list .react-tabs__tab--selected::before {
  background-color: #000;
}

.appointment-modal .react-tabs > header button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  display: flex;
  padding: 1vh 3vw;
  font-size: 1.25rem;
}

.appointment-modal .react-tabs > main {
  padding: 0 4vw;
}

.appointment-modal .react-tabs > main .react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.appointment-modal .react-tabs > main .card {
  border-radius: 4px;
  padding: 2vh 3vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.appointment-modal .react-tabs > main .card h3 {
  font-weight: bold;
  margin: 0;
}

.appointment-modal .react-tabs > main .card ol {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2vh;
  padding: 0 4vw;
  column-gap: 12vw;
}

.appointment-modal .react-tabs > main .card .schedules li {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 1vh 5vw;
}

.appointment-modal .react-tabs > main .card .schedules li.active {
  background-color: #000;
  color: #fff;
}

.appointment-modal .react-tabs > main .avatar-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.appointment-modal .react-tabs > main .avatar-card img {
  border-radius: 50%;
}

.appointment-modal .react-tabs > main .avatar-card .provider {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.appointment-modal .react-tabs > main .avatar-card .provider h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.appointment-modal .react-tabs > main .avatar-card .schedule {
  padding-bottom: 2vh;
  border-bottom: 1px solid #c4c4c4;
}

.appointment-modal .react-tabs > main .avatar-card .schedule ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  counter-reset: services;
  margin: 0;
}

.appointment-modal .react-tabs > main .avatar-card .schedule ul li {
  display: flex;
  align-items: center;
}

.appointment-modal .react-tabs > main .avatar-card .schedule ul li::before {
  counter-increment: services;
  content: counter(services);
  background-color: #c4c4c4;
  color: #000;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 0.75rem;
  margin-right: 2vw;
}

.appointment-modal .react-tabs > main .avatar-card .schedule ul li span {
  margin-left: auto;
}

.appointment-modal .react-tabs > main .avatar-card .payment {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.appointment-modal .react-tabs > footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 4vw;
}

.appointment-modal .react-tabs > footer button {
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
  border-color: transparent;
  padding: 1.5vh 4vw;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.appointment-modal .react-tabs > footer button svg {
  font-size: 1.25rem;
}
