.appointment-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #212121;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 3vh;
}

.appointment-container main {
  width: 100%;
  padding-top: 5px;
  padding-left: 15px;
}

.appointment-container main .container-header {
  padding-bottom: 1vh;
}

.appointment-container main .container-header a {
  display: flex;
  justify-content: flex-start;
  color: #000;
}

.appointment-container main .container-header a div {
  padding-left: 2vw;
}

.appointment-wrapper header .provider img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.appointment-container main .container-header a img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.appointment-container main .container-item {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2vh 0 1vh 0;
  text-align: center;
}

.appointment-container main .container-footer {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.appointment-container main .container-footer .button-footer {
  font-family: sans-serif;
  font-size: 16px;
  color: #ffb600;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: bold;
}

.appointment-container main .container-footer .button-footer:hover {
  cursor: pointer;
}

.title {
  padding: 2vh 0 2vh 2vw;
}

.noappointments .image-fundo {
  width: 100%;
  padding: 5vh 25vw;
}

.subtitle {
  text-align: center;
  padding: 2vh;
}

.success {
  color: var(--success);
}

.canceled {
  color: var(--danger);
}

.appointment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 2vh;
}

.appointment-wrapper nav {
  padding: 0 4vw;
}

.appointment-wrapper header {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--dark);
}

.appointment-wrapper header .provider {
  display: flex;
  align-items: center;
  gap: 3vw;
  font-size: 1rem;
}

.appointment-wrapper header .appointment {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.85rem;
}

.appointment-wrapper header .appointment a {
  font-size: 1rem;
}

.appointment-wrapper header .status {
  display: flex;
  gap: 2vw;
  background-color: #c4c4c4;
  padding: 1.5vh 2vw;
  font-size: 0.9rem;
  justify-content: center;
}

.appointment-wrapper main {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.appointment-wrapper main .appointment {
  padding-bottom: 2vh;
  border-bottom: 1px solid var(--dark);
}

.appointment-wrapper main .appointment ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  counter-reset: services;
  margin: 0;
}

.appointment-wrapper main .appointment ul li {
  display: flex;
  align-items: center;
}

.appointment-wrapper main .appointment ul li::before {
  counter-increment: services;
  content: counter(services);
  background-color: #c4c4c4;
  color: #000;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 0.75rem;
  margin-right: 2vw;
}

.appointment-wrapper main .appointment ul li span {
  margin-left: auto;
}

.appointment-wrapper main .payment {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .appointment-container {
    margin-bottom: 3vh;
  }
}
