.appointment-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #212121;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 3vh;
}

.appointment-container main {
  width: 100%;
  padding-top: 5px;
  padding-left: 15px;
}

.appointment-container main .container-header {
  padding-bottom: 1vh;
}

.appointment-container main .container-header a {
  display: flex;
  justify-content: flex-start;
  color: #000;
}

.appointment-container main .container-header a div {
  padding-left: 2vw;
}

.appointment-container main .container-header a img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.appointment-container main .container-item {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2vh 0 1vh 0;
  text-align: center;
}

.appointment-container main .container-footer {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.appointment-container main .container-footer .button-footer {
  font-family: sans-serif;
  font-size: 16px;
  color: #ffb600;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: bold;
}

.appointment-container main .container-footer .button-footer:hover {
  cursor: pointer;
}

.title {
  padding: 2vh 0 2vh 2vw;
}

.noappointments .image-fundo {
  width: 100%;
  padding: 5vh 25vw;
}

.subtitle {
  text-align: center;
  padding: 2vh;
}

.success {
  color: var(--success);
}

.canceled {
  color: var(--danger);
}

@media screen and (max-width: 1024px) {
  .appointment-container {
    margin-bottom: 3vh;
  }
}
