/* mobile/table */
@media (hover: none) {
  .appointment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 2vh;
  }

  .appointment-wrapper nav {
    display: flex;
    align-items: center;
    gap: 20vw;
    padding: 0 4vw;
  }

  .appointment-wrapper nav a {
    font-size: 1.75rem;
    display: inherit;
  }

  .appointment-wrapper nav h1 {
    justify-self: center;
    margin: 0;
  }

  .appointment-wrapper header {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #c4c4c4;
  }

  .appointment-wrapper header .provider {
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 1rem;
  }

  .appointment-wrapper header .provider img {
    border-radius: 50%;
  }

  .appointment-wrapper header .appointment {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.85rem;
  }

  .appointment-wrapper header .appointment a {
    font-size: 1rem;
  }

  .appointment-wrapper header .status {
    display: flex;
    gap: 2vw;
    background-color: #c4c4c4;
    padding: 1.5vh 2vw;
    font-size: 0.9rem;
    justify-content: space-around;
  }

  .appointment-wrapper main {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .appointment-wrapper main .appointment {
    padding-bottom: 2vh;
    border-bottom: 1px solid #c4c4c4;
  }

  .appointment-wrapper main .appointment ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    counter-reset: services;
    margin: 0;
  }

  .appointment-wrapper main .appointment ul li {
    display: flex;
    align-items: center;
  }

  .appointment-wrapper main .appointment ul li::before {
    counter-increment: services;
    content: counter(services);
    background-color: #c4c4c4;
    color: #000;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.75rem;
    margin-right: 2vw;
  }

  .appointment-wrapper main .appointment ul li span {
    margin-left: auto;
  }

  .appointment-wrapper main .payment {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
  }

  .appointment-wrapper footer {
    padding: 0 5vw;
  }

  .appointment-wrapper footer .rate {
    box-shadow: 0 0 6px #ccc;
    padding: 2vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .appointment-wrapper footer .rate h3,
  .appointment-wrapper footer .rate p {
    margin: 0;
  }

  .appointment-wrapper footer .rate .stars {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
  }

  .appointment-wrapper footer .rate .stars .on {
    color: yellow;
  }
}
