.service-wrapper {
  margin: 5vh 2vw;
  padding: 4vh 2vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.service-wrapper main {
  width: 35%;
}

.service-wrapper main h2 {
  font-size: 1.75rem;
  margin-bottom: 2vh;
}

.service-wrapper main .service-info {
  display: flex;
  flex-direction: column;
}

.service-wrapper main .service-info a {
  display: flex;
  justify-content: flex-start;
  padding-right: 15vw;
  margin-bottom: 2vh;
  font-size: x-large;
  color: var(--dark);
}

.service-wrapper main .service-info a img {
  border-radius: 50%;
  margin-right: 2vw;
  width: 50px;
  height: 50px;
}

.service-wrapper main b {
  line-height: 4vh;
}

.service-wrapper main p {
  margin-bottom: 2vh;
}

.service-wrapper main .service-info p + p {
  color: var(--success);
  font-weight: 500;
}

.service-wrapper main .btn-group {
  display: flex;
  padding: 2vh 0;
}

.service-wrapper main .btn-group button:first-child {
  margin-right: 20px;
}

.service-wrapper aside {
  display: flex;
  flex-shrink: 0;
}

.other-services h3 {
  font-size: 1.4rem;
  padding: 2vh 2vw;
}

.other-services .container-service-item {
  width: 20vw;
  max-height: 160px;
  border-radius: 10px;
  background: #5f9ea063;
}

.other-services .container-service-item:hover {
  background: #5f9ea0a2;
}

.other-services .container-service-item .wrapper {
  display: flex;
  justify-content: center;
  padding: 3vh;
  height: 200px;
}

.other-services .container-service-item .wrapper aside {
  margin-right: 10px;
}

.other-services .container-service-item .wrapper aside img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.other-services .container-service-item .wrapper .service-info small {
  color: var(--primary);
}

.other-services .container-service-item .wrapper .service-info small + small {
  display: flex;
  flex-direction: column;
  color: black;
}

.fullCalendar {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.btn-finalizar {
  margin-top: 2vh;
}
