:root {
  --primary: #ffb600;
  --secondary: #4F4538;
  --success: #A4D100;
  --danger: #FF0000;
  --warning: #D08E00;
  --info: #533461;
  --light: #FFEDCB;
  --dark: #000;

  --gray-1: #BBB;
  --gray-2: #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
}
