@import '~antd/dist/antd.css';

:root {
  --primary: #d98e04;
  --secondary: #f2b705;
  --success: #50a773;
  --danger: #ea3030;
  --warning: #f0b607;
  --info: #5d0a8c;
  --light: #f2f2f2;
  --dark: #011f26;
  --gray: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

img {
  user-select: none;
}

.btn-link {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--primary);
  border: 0 solid var(--gray);
  background-color: transparent;
  font-weight: bold;
}

.btn-link:hover {
  cursor: pointer;
  color: var(--secondary);
}

.btn {
  appearance: none;
  background-color: var(--primary);
  border: none;
  padding: 1.5vh 1vw;
  border-radius: 10px;
  font-weight: bold;
  max-height: 35px;
  color: var(--dark);
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  color: var(--light);
}

.btn-outlined {
  border: 2px solid var(--primary);
  padding: 1.5vh 1vw;
  border-radius: 10px;
  font-weight: bold;
  color: var(--primary);
  background: transparent;
}

.btn-outlined:hover {
  cursor: pointer;
  color: var(--dark);
}

.ReactModal__Body--open {
  overflow: hidden;
}
