/* mobile/tablet */
@media (hover: none) {
  .profile-edit-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .profile-edit-wrapper header {
    display: flex;
    align-items: center;
    gap: 31vw;
    font-size: 1rem;
    padding-top: 1vh;
    font-weight: bold;
  }

  .profile-edit-wrapper header svg {
    font-size: 1.75rem;
  }

  .profile-edit-wrapper main form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 0 5vw;
  }

  .profile-edit-wrapper main form button {
    align-self: flex-end;
    border-radius: 5px;
    background-color: #c4c4c4;
    font-weight: bold;
    border-color: transparent;
    padding: 1.25vh 5vw;
    justify-content: center;
    font-size: 1rem;
  }

  .profile-edit-wrapper main form .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .profile-edit-wrapper main form .avatar img {
    max-width: 30vw;
    border-radius: 50%;
  }

  .profile-edit-wrapper main form .avatar input {
    display: none;
  }

  .profile-edit-wrapper main form .avatar button {
    position: absolute;
    bottom: 0;
    right: 30vw;
    border-radius: 50%;
    border: none;
    padding: 1vh 1.5vw 0;
    font-size: 1.5rem;
    box-shadow: 0 0 6px #212121;
    background-color: #fff;
  }

  .profile-edit-wrapper main form .input-group {
    display: flex;
    flex-direction: column;
  }

  .profile-edit-wrapper main form .input-group label {
    margin-bottom: 0.5rem;
  }

  .profile-edit-wrapper main form .input-group input {
    border: none;
    border-bottom: 1px solid #cbcbcb;
    padding: 4px 0;
    font-size: 1rem;
    outline: none;
  }

  .profile-edit-wrapper main form .input-group input:focus {
    /* Trocar pela cor primária da paleta */
    border-color: #666;
  }
}

@media (hover: hover) {
  h1 {
    margin: 2vw 4vh;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
  }

  form .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 5vw;
  }

  form .avatar img {
    max-width: 30vw;
    width: 25vw;
    border-radius: 10px;
    flex-shrink: 0;
  }

  form .avatar input {
    display: none;
  }

  form .avatar button {
    position: absolute;
    right: 0;
    border: none;
    padding: 1vh 1.5vw 0;
    font-size: 1.5rem;
    background-color: transparent;
  }

  form .avatar button:hover {
    color: #f4f4f4;
    border-color: #212121;
    cursor: pointer;
  }

  form .form-group {
    width: 25vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form .form-group .input-group {
    display: flex;
    flex-direction: column;
  }

  form .form-group .input-group label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.9rem;
  }

  form .form-group .input-group input {
    border: 0;
    border-radius: 10px;
    height: 2em;
    padding: 0 1.5vw;
  }
}
