.topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--gray-2);
}

.topbar a {
  margin: 2vh 2vw;
}

.navbar {
  width: 39vw;
  display: flex;
}

.navbar button {
  display: none;
}

.navbar a svg {
  font-size: 1.25rem;
  margin-right: 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-left: 5vh;
  font-size: initial;
}

.downbar {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}

.downbar .createConta {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-right: 5vh;
}

.btnLogin {
  padding: 1vh 1vw;
  background-color: #a3a3a3;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.btnUser {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-right: 5vh;
  font-size: x-large;
}

.searchbar .searchinput {
  width: 30vw;
  height: 5vh;
  border: 1px solid;
  font-size: 0.95rem;
}

.searchbar .searchicon {
  background: transparent;
  position: absolute;
  right: 2%;
  font-size: 1.6rem;
  border: none;
  padding-left: 2%;
  display: flex;
}

.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  z-index: 1;
}

.submenu a {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 425px) {
  .topbar {
    padding: 2vh 5vw;
  }

  .navbar {
    width: 20%;
  }

  .navbar button {
    display: flex;
    align-items: center;
    height: 100%;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }

  .navbar a {
    display: none;
  }

  .searchbar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .searchbar .searchinput {
    padding: 0 13% 0 4%;
  }

  .searchbar .searchicon {
    top: 30%;
  }

  .submenu {
    bottom: -15vh;
    right: 0;
    width: 100%;
  }

  .submenu a {
    display: initial;
    padding: 2.5vh 5vw;
  }
}

@media screen and (min-width: 1024px) {
  .topbar {
    padding: 1vh 1vw;
  }

  .searchbar {
    width: 50%;
    position: relative;
    margin-top: 1vh;
  }

  .searchbar .searchinput {
    padding: 5px 10% 5px 2%;
    border-radius: 7px;
  }

  .searchbar .searchicon {
    top: 15%;
    border-left: 1px solid var(--gray-2);
  }

  .submenu {
    bottom: 68vh;
    right: 2%;
    border: 1px solid;
    border-radius: 6px;
  }

  .submenu a {
    padding: 2.5vh 1vw;
    width: 10vw;
    transition: 0.2s ease-in-out;
    border-bottom: 1px solid;
  }

  .submenu a:hover {
    background-color: var(--gray-2);
  }
}
