.topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary);
  align-items: center;
}

.topbar a {
  margin: 0 2vw;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar .active {
  color: var(--primary);
}

.navbar a svg {
  font-size: 1.25rem;
  margin-right: 5px;
}

.navbar a {
  color: black;
  display: flex;
  margin-left: 5vh;
  font-size: initial;
}

.navbar a:hover {
  color: rgb(88, 88, 88);
}

.downbar {
  width: 25em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btnUser {
  font-size: x-large;
}

.topbar .submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  z-index: 1;
  top: 70px;
  right: 3vw;
  border: 1px solid;
  border-radius: 6px;
  min-width: 250px;
  overflow-y: auto;
}

.topbar .submenu span {
  width: 100%;
  border-bottom: 2px solid;
  padding: 15px 40px 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.topbar .submenu ol {
  width: 100%;
  font-size: 1rem;
}

.topbar .submenu ol li {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
  background: none;
}

.topbar .submenu ol li a {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--dark);
}

.topbar .submenu ol li a:hover {
  color: var(--primary);
}

.topbar .submenu ol li .active {
  color: var(--primary);
}

.topbar .submenu ol li a svg {
  font-size: x-large;
}

/* .topbar .submenu a {
  margin-left: 1vw;
} */

@media screen and (max-width: 425px) {
  .topbar {
    padding: 2vh 5vw;
  }

  .navbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .topbar {
    padding: 1vh 1vw;
  }
}
