/* mobile/table */
@media (hover: none) {
  .appointments-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw 0;
    height: 100%;
  }

  .appointments-wrapper > p {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    justify-content: center;
  }

  .appointments-wrapper ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .appointments-wrapper ol > li {
    width: 100%;
    box-shadow: 0 0 6px #9c9c9c;
  }

  .appointments-wrapper ol > li header {
    padding: 1.5vh 3vw;
    border-bottom: 1px solid #c4c4c4;
  }

  .appointments-wrapper ol > li header a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: initial;
  }

  .appointments-wrapper ol > li header .provider {
    display: flex;
    align-items: center;
    gap: 3vw;
  }

  .appointments-wrapper ol > li header .provider img {
    border-radius: 50%;
  }

  .appointments-wrapper ol > li header .provider .appointment-info {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }

  .appointments-wrapper ol > li header svg {
    font-size: 1.25rem;
    color: #000;
  }

  .appointments-wrapper ol > li main {
    padding: 1.5vh 3vw;
  }

  .appointments-wrapper ol > li main ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    counter-reset: services;
  }

  .appointments-wrapper ol > li main ul li {
    display: flex;
    align-items: center;
  }

  .appointments-wrapper ol > li main ul li::before {
    counter-increment: services;
    content: counter(services);
    background-color: #c4c4c4;
    color: #000;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 0.75rem;
    margin-right: 2vw;
  }

  .appointments-wrapper ol > li main ul li span {
    margin-left: auto;
  }

  .appointments-wrapper ol > li footer {
    display: flex;
    padding: 1.5vh 3vw;
    margin: 0;
    font-size: inherit;
    justify-content: flex-end;
    gap: 3vw;
    border-top: 1px solid #c4c4c4;
  }

  .appointments-wrapper ol > li footer button {
    border-radius: 5px;
    background-color: #c4c4c4;
    font-weight: bold;
    border-color: transparent;
    padding: 6px 12px;
  }
}

/* desktop */
@media (hover: hover) {
  .body-list {
    padding: 0 2vw;
  }
}
